*{
    margin: 0;
    padding: 0;
    box-sizing: border-box; /*para q lo de adentro se ajuste solo*/
    font-family: Century Gothic;

}
.body{
    background-color: #aa616f;

}



.barra{
    position: sticky; /*para q no se mueva*/
    top:0;
    left: 0;
    width: 100%;
    height: 40px;
    background-color: rgb(241, 204, 159);
    z-index: 9;

}

.navv{

    pad: 10px 10pw;
    display: flex;
    justify-content: space-between;

}



nav h1{
    margin-left: 15px;
    margin-top: 10px;
    font-style: oblique;
    color: rgb(129, 63, 63);
}

.iconos{
    display: flex;
    align-items: center;
}

i{
    margin-right: 30px;
    color: black;
}

/* buscador*/
.busca{
    width: 400px;
    display: flex;
}

.buscar{
    background-color: rgb(240, 184, 116);
    width: 25%;
    height: 39px;
    padding: 10px 20px;
    border: none;
    outline: none;
    text-transform: capitalize;
    cursor: pointer;
    font-size: 15px;
    border-bottom-left-radius: 10px;
    border-top-left-radius: 10px;
}

.buscador{
    width: 60%;
    height: 3%;
    padding: 10px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    border: 1px solid rgb(182, 126, 43);
    text-transform: capitalize;
    color: rgb(51, 44, 32);
    outline: none;
}

/*banner*/
/*
.banner{
    width: 100%;
    height: 100%;
    position: fixed;
    top:0px;
    background-image: url(imagenes/descargar.jfif);
    background-size:cover;
    background-position: center center;
}





/*carousel*/

.caja{
    width: 300px;
    box-shadow: 2px 2px 30px rgba(0,0,0,0.2);
    border-radius:10px;
    overflow: hidden;
    position: relative;
    display: inline-block;
    margin-left: 70px;
    margin-right:30px ;
    margin-bottom: 30px;
    background-color: rgb(240, 240, 234);
}


.imagen{
    height: 400px;
}


.imagen img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    box-sizing: border-box;
}


#display {
    display: none;
    width: 300px;
    height: 200px;
    position: relative;
    margin-top: 20px;
    border-radius: 20px;
}

#display p{
    text-align: center;
    position: relative;
    top: 40%;
}

#display img{
    width: 100%;
    border-radius: 20px;
    margin-left: 400px;
}

#boton{
    background-color: rgb(161, 107, 103);
    width: 25%;
    height: 39px;
    padding: 10px 20px;
    border: none;
    outline: none;
    cursor: pointer;
    font-size: 15px;
    border-radius: 10px;
    margin-top: 10px;
    margin-left: 35%;
}

.detalles{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    box-sizing: border-box;
    font-family: century Gothic;

}

.type{
    display: flex;
    flex-direction: column;
}

.type a{
    color: black;
    text-decoration: none;
    margin: 5px 0px;
    font-weight: 700;
    letter-spacing: 0.5px;
    padding-right: 8px;
    font-size: 12px;
    text-align: center;
}

.precio{
    color: black;
    font-weight: 600;
    font-size: 1.1rem;
    font-family: poppins;
    padding-right:20px ;
}

.hover{
    position: absolute;
    left:50%;
    top:50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 100%;
    background-color: rgba(73, 62, 46, 0.452);
    display: flex;
    justify-content: center;
    align-items: center;
}

.comprar{
    text-decoration: none;
    width: 160px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ddd;
    color: rgba(202, 138, 218, 0.6);
    letter-spacing: 0.5px;
    font-family: 'Times New Roman', Times, serif;
    border-radius: 20px;
    box-shadow: 2px 2px 30px rgb(0, 0, 0, 0.2);
}

.comprar:hover{
    color: #FFFFFF;
    background-color: rgb(167, 122, 81);
    transition: 0.3s;
}

.hover{
    visibility: hidden;
}

.imagen:hover .hover{
    visibility: visible;
    animation: fade 0.7s;
}

.carousel{
    margin-top: 50px;
}

/*forms*/
#datos label{
    margin-right: 5px;
    margin-left: 100px;
}

#datos input{
    display: inline;
    margin-bottom: 30px;
    margin-right: 20px;

}
#datos{
    margin-top: 30px;
}
#datos h1{
    margin-bottom: 30px;
}

#datos button{
    margin-left: 50%;
    margin-bottom: 20px;
    background-color: rgb(161, 107, 103);
    width: 25%;
    height: 39px;
    padding: 10px 20px;
    border: none;
    outline: none;
    cursor: pointer;
    font-size: 15px;
    border-radius: 10px;
    margin-top: 10px;
    margin-left: 35%;

}


/* Para que sea responsive*/
@media screen and (max-width:500px) {
    .icono{
        display: none;
    }
    .busca{
       height: 40px;
    }
    .buscar{
        height: 10px;
        font-size: x-small;
    }

}

@media screen and (max-width: 800px) {
    .icono{
        display: none;
    }
}